<h1>Edit Director <%= @director.id %></h1>

<form action="/update_director/<%= @director.id %>">
  <div>
        <label for="director_name_input">
        Name
            
        </label>
            <input id="director_name_input" type="text", name="director_name", value="<%= @director.name %>">
    </div>
    
    <div>
        <label for="director_bio_input">
        Bio    
            
        </label>
           
            <div>
            <textarea id="director_bio_input" type="text", name="director_bio", class="form-control" rows="3", value="<%= @director.bio %>"> </textarea>
            </div>
    </div>
    
     <div>
        <label for="director_dob_input">
        Dob
            
        </label>
            <input id="director_bio_dob_input" type="text", name="director_dob", value="<%= @director.dob %>">
    </div>
    
    <div>
        <label for="director_image_input">
        Image url
            
        </label>
            <input id="director_image_input" type="text", name="director_image", value="<%= @director.image_url %>">
    </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <p><a href="/directors/<%= @director.id %>" class="btn btn-primary">Update director</a></p>
    </div>
  </div>
  
</form>